<section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
  <div class="container">
    <div class="row center">
      <div class="col-md-12" style="margin-top: 45px">
        <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Medicines</h1>
      </div>
    </div>
  </div>
</section>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <app-add-medicine></app-add-medicine>
    </div>
  </div>

  <div class="row">
    <!--Filter-->
    <app-filter class="col-md-3"></app-filter>
    <!--Listing-->
    <div class="col-md-9">
      <div class="row">
        <app-medicine-oneitem (editClicked)="getMedicine($event)" class="col-md-4" *ngFor="let item of medicines" [medicine] = "item"></app-medicine-oneitem>
      </div>
    </div>
  </div>
</div>
<app-edit-medicine [medicine]="medicine"></app-edit-medicine>