<header id="header" class="header-narrow header-semi-transparent header-transparent-sticky-deactive custom-header-transparent-bottom-border"
  data-plugin-options="{'stickyEnabled':true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt':1, 'stickySetTop': '1'}">
  <div class="header-body">
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-logo">
            <a href="demo-business-consulting.html">
              <img alt="Porto" width="150" height="70" src="../../../../assets/img/logo.png">
            </a>
          </div>
        </div>
        <div class="header-column">
          <div class="header-row">
            <div class="header-nav header-nav-dark-dropdown">
              <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                <i class="fa fa-bars"></i>
              </button>
              <div class="header-nav-main header-nav-main-square custom-header-nav-main-effect-1 collapse">
                <nav>
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="active">
                      <a href="gaber.html">
                        Home
                      </a>
                    </li>
                    <li>
                      <a href="zoghabi zoo.html">
                        Zoos
                      </a>
                    </li>
                    <li>
                      <a routerLink="/animals">Animals
                      </a>
                      
                    </li>
                    <!-- <li class="dropdown dropdown-primary ">
                      <a class="dropdown-toggle" href="#">
                        Animals
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="Aya pets.html">
                            Pets
                          </a>
                        </li>
                        <li>
                          <a href="Aya pets.html">
                            Mammals
                          </a>
                        </li>
                        <li>
                          <a href="Aya pets.html">
                            Reptiels
                          </a>
                        </li>
                        <li>
                          <a href="Aya pets.html">
                            Fish
                          </a>
                        </li>
                        <li>
                          <a href="Aya pets.html">
                            Birds
                          </a>
                        </li>
                        <li>
                          <a href="Aya pets.html">
                            Amphibians
                          </a>
                        </li>
                      </ul>
                    </li> -->
                    <li>
                      <a href="Events gaber.html">
                        Current Events
                      </a>
                    </li>
                    <li>
                      <a href="Essra news.html">
                        Latest News
                      </a>
                    </li>

                    <li>
                      <a href="demo-business-consulting-blog.html">
                        About Us
                      </a>
                    </li>
                    <li>

                      <!-- <div class="dropdowns-container">
                        <div class="header-dropdown cur-dropdown">
                          <a href="demo-business-consulting-contact-us.html">
                            <div class="header-dropdown lang-dropdown">
                              <a href="#">
                                <img src="../../../../assets/img/en.png" alt="English">English
                                <i class="fa fa-caret-down"></i>
                              </a>

                              <ul class="header-dropdownmenu">
                                <li>
                                  <a href="#">
                                    <img src="../../../../assets/img/en.png" alt="English">English</a>
                                </li>
                                <li>
                                  <a href="#">
                                    <img src="../../../../assets/img/fr.png" alt="French">French</a>
                                </li>
                              </ul>
                            </div>
                          </a>
                        </div>
                      </div> -->
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>