<div role="main" class="main">

  <section class="page-header page-header-light page-header-more-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center" style="margin-top:60px;">
          <h1>{{animal.name}}
            <!-- <span>
              <a href="#map" data-hash data-hash-offset="100">(Map Location)</a>
            </span> -->
          </h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row pb-xl pt-md">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-7">
            <carousel>
              <slide>
                <img [src]="animal.image[0]" alt="first slide" style="display: block; width: 100%; height:300px;">
              </slide>
              <slide>
                <img [src]="animal.image[1]" alt="second slide" style="display: block; width: 100%; height:300px;">
              </slide>
              <!-- <app-slider-oneitem *ngFor="let item of animal.image let i=index;" [image]="item"></app-slider-oneitem> -->
            </carousel>
            <!--<div class="thumb-gallery">
              <div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}"> 
              
               <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
                  <app-slider-oneitem *ngFor="let i of animal.image" [image]="i"></app-slider-oneitem>
                  <div>
                    <a href="{{animal.image}}">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="{{animal.image}}" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="{{animal.image}}">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="{{animal.image}}" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="{{animal.image}}">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="{{animal.image}}" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="{{animal.image}}">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="{{animal.image}}" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div> 
              </div> 

               <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
                <div>
                  <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-1-thumb.jpg" class="img-responsive cur-pointer">
                </div>
                <div>
                  <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-2-thumb.jpg" class="img-responsive cur-pointer">
                </div>
                <div>
                  <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-3-thumb.jpg" class="img-responsive cur-pointer">
                </div>
                <div>
                  <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-4-thumb.jpg" class="img-responsive cur-pointer">
                </div>
              </div>
            </div> -->

          </div>
          <div class="col-md-5">

            <table class="table table-striped">
              <colgroup>
                <col width="35%">
                <col width="65%">
              </colgroup>
              <tbody>
                <tr>
                  <td class="background-color-primary text-light pt-md">
                    Properties
                  </td>
                  <td class="font-size-xl font-weight-bold pt-sm pb-sm background-color-primary text-light">

                  </td>
                </tr>
                <tr>
                  <td>
                    Name
                  </td>
                  <td>
                    {{animal.name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Category
                  </td>
                  <td>
                    {{animal.type}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Contienent
                  </td>
                  <td>
                    {{animal.contienent}}
                  </td>
                </tr>
                <tr>
                  <td>
                    LifeSpan
                  </td>
                  <td>
                    {{animal.lifeSpan}} {{animal.date}}
                  </td>
                </tr>

                <tr>
                  <!--<td>
                    Address
                  </td>
                   <td>
                    1234 SW 63rd Ave - South Miami - Florida
                    <br>
                    <a href="#map" class="font-size-sm" data-hash data-hash-offset="100">(Map Location)</a>
                  </td> -->
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <h4 class="mt-md mb-md">Description</h4>
            <p>{{animal.description}} </p>

            <p>Ctrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac feugiat nibh adipiscing sit amet.
              In eu juiverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>


            <!--<h4 class="mt-md mb-md">Features</h4>-->
            <app-animal-food></app-animal-food>
            <app-animal-disease></app-animal-disease>
            <app-animal-threaten></app-animal-threaten>
            <app-animal-predator></app-animal-predator>
            <app-related-animal></app-related-animal>
            <!-- <hr class="solid tall">
            <h2 class="mt-md mb-md" id="map">
              <strong>Location</strong>
            </h2>
             <div id="googlemaps" class="google-map m-none mb-xlg"></div> 
            <app-map></app-map> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>