<div role="main" class="main">

  <section class="page-header page-header-light page-header-more-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center" style="margin-top:60px;">
          <h1>Name
            <span>
              <a href="#map" data-hash data-hash-offset="100">(Map Location)</a>
            </span>
          </h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row pb-xl pt-md">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-7">

            <div class="thumb-gallery">
              <div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
                <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
                  <div>
                    <a href="img/demos/real-estate/listings/listing-detail-1.jpg">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-1.jpg" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="img/demos/real-estate/listings/listing-detail-2.jpg">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-2.jpg" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="img/demos/real-estate/listings/listing-detail-3.jpg">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-3.jpg" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="img/demos/real-estate/listings/listing-detail-4.jpg">
                      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders font-size-xl">
                        <span class="thumb-info-wrapper font-size-xl">
                          <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-4.jpg" class="img-responsive">
                          <span class="thumb-info-title font-size-xl">
                            <span class="thumb-info-inner font-size-xl">
                              <i class="icon-magnifier icons font-size-xl"></i>
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
                                          <div>
                                              <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-1-thumb.jpg" class="img-responsive cur-pointer">
                                          </div>
                                          <div>
                                              <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-2-thumb.jpg" class="img-responsive cur-pointer">
                                          </div>
                                          <div>
                                              <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-3-thumb.jpg" class="img-responsive cur-pointer">
                                          </div>
                                          <div>
                                              <img alt="Property Detail" src="img/demos/real-estate/listings/listing-detail-4-thumb.jpg" class="img-responsive cur-pointer">
                                          </div>
                                      </div> -->
            </div>

          </div>
          <div class="col-md-5">

            <table class="table table-striped">
              <colgroup>
                <col width="35%">
                <col width="65%">
              </colgroup>
              <tbody>
                <tr>
                  <td class="background-color-primary text-light pt-md">
                    Properties
                  </td>
                  <td class="font-size-xl font-weight-bold pt-sm pb-sm background-color-primary text-light">

                  </td>
                </tr>
                <tr>
                  <td>
                    Name
                  </td>
                  <td>
                    Dog
                  </td>
                </tr>
                <tr>
                  <td>
                    Category
                  </td>
                  <td>
                    Mammls
                  </td>
                </tr>
                <tr>
                  <td>
                    Contienent
                  </td>
                  <td>
                    Asia
                  </td>
                </tr>
                <tr>
                  <td>
                    LifeSpan
                  </td>
                  <td>
                    20 years
                  </td>
                </tr>

                <tr>
                  <td>
                    Address
                  </td>
                  <td>
                    1234 SW 63rd Ave - South Miami - Florida
                    <br>
                    <a href="#map" class="font-size-sm" data-hash data-hash-offset="100">(Map Location)</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <h4 class="mt-md mb-md">Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
              Quisque ut nulla at nunc
              <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis
              faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              Curae;
            </p>

            <p>Ctrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac feugiat nibh adipiscing sit amet.
              In eu juiverra leo. Vestibulum ante ipsum primis in faucibus orci.</p>

            <hr class="solid tall">
            <section class="mt-none" id="projects">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <h2>
                          <strong>Foods</strong>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <div style="text-align:right; margin-left:10px;">
                         
                            <i class="fa fa-plus-square  fa-2x" style="text-align: right; margin-left:10px;"></i>
                            <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                            <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                        </div>
                      </div>
                    </div>
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#">
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="../../../../../../assets/slides/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Presentation</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Watch</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Identity</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Watch Mockup</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Three Bottles</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Company T-Shirt</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Mobile Mockup</span>
                                <span class="thumb-info-type">Website</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div style="text-align: right;">
													<i class="fa fa-edit" style="text-align: right;margin-left:10px;"></i>
													<i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
												</div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Label</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--<h4 class="mt-md mb-md">Features</h4>-->
            <hr class="solid tall">
            <section class="mt-none" id="projects">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <h2>
                          <strong>Diseases</strong>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-plus-square fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Presentation</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Watch</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Identity</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Watch Mockup</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Three Bottles</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Company T-Shirt</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Mobile Mockup</span>
                                <span class="thumb-info-type">Website</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Label</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr class="solid tall">
            <section class="mt-none" id="projects">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <h2>
                          <strong>Threatens</strong>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-plus-square  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Presentation</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Watch</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Identity</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Watch Mockup</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Three Bottles</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Company T-Shirt</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Mobile Mockup</span>
                                <span class="thumb-info-type">Website</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Label</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr class="solid tall">
            <section class="mt-none" id="projects">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <h2>
                          <strong>Predators</strong>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-plus-square  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Presentation</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Watch</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Identity</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Watch Mockup</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Three Bottles</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Company T-Shirt</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Mobile Mockup</span>
                                <span class="thumb-info-type">Website</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="../../../../../../assets/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Label</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr class="solid tall">
            <section class="mt-none" id="projects">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <h2>
                          <strong>Related Animals</strong>
                        </h2>
                      </div>
                      <div class="col-md-4">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-plus-square fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="../../../../assets/projects/project.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Presentation</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                            <span class="thumb-info-wrapper">
                              <img src="../../../../assets/projects/project-1.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Watch</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Identity</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Watch Mockup</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Three Bottles</span>
                                <span class="thumb-info-type">Logo</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Company T-Shirt</span>
                                <span class="thumb-info-type">Brand</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Mobile Mockup</span>
                                <span class="thumb-info-type">Website</span>
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="portfolio-item">
                        <div class="product-label" style="text-align:right; margin-left:10px;">
                          <a href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="#">
                            <i class="fa fa-trash" style="margin-left:10px;"></i>
                          </a>
                        </div>
                        <a href="#" data-portfolio-on-modal>
                          <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                              <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                              <span class="thumb-info-title">
                                <span class="thumb-info-inner">Porto Label</span>
                                <span class="thumb-info-type">Media</span>
                              </span>
                            </span>
                          </span>
                        </a>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr class="solid tall">
            <h2 class="mt-md mb-md" id="map">
              <strong>Location</strong>
            </h2>
            <div id="googlemaps" class="google-map m-none mb-xlg"></div>

          </div>
        </div>

      </div>
    </div>

  </div>


</div>