
<div class="col-md-12">
    <a href="#" data-target="#y" data-toggle="modal"  (click)="edit(show.id)" ><i class="fa fa-edit"></i></a>&nbsp;
    <a><i class="fa fa-trash"></i></a>    
  <article class="custom-post-event background-color-gray custom-sm-margin-bottom-2 mb-xlg">
    <div class="post-event-date background-color-primary center">
      <span class="month text-uppercase custom-secondary-font text-color-light">Nov</span>
      <span class="day font-weight-bold text-color-light">05</span>
      <span class="year text-color-light">2016</span>
    </div>
    <div class="post-event-content custom-margin-1">
      <span class="custom-event-infos">
        <ul>
          <li>
            <i class="fa fa-clock-o"></i>
            {{show.time}}
          </li>
          <li class="text-uppercase">
            <i class="fa fa-map-marker"></i>
            {{show.location}}
          </li>
        </ul>
      </span>
      <h4 class="font-weight-bold text-color-dark">
        <a routerLink="showdetails" class="text-decoration-none custom-secondary-font text-color-dark">
            {{show.title}}
        </a>
      </h4>
      <p>{{show.description}}...</p>
    </div>
    <hr class="solid">
  </article>
</div>