<section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
    <div class="container">
        <div class="row center">
            <div class="col-md-12" style="margin-top: 45px">
                <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                        appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Animals</h1>
            </div>
        </div>
    </div>
</section>
<div role="main" class="main" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <app-filter-component (filter)="filterData($event)"></app-filter-component>
            <app-small-component [data]="filterdata"></app-small-component>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 center">

        <ul class="pagination">

            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">6</a>
            </li>
            <li>
                <a href="#">7</a>
            </li>
            <li>
                <a href="#">8</a>
            </li>
            <li>
                <a href="#">9</a>
            </li>
            <li>
                <a href="#">NEXT</a>
            </li>
        </ul>
    </div>
</div>