<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:60%">
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="editZoo(f)" novalidate>
        <div class="col-sm-12 col-md-offset-1">
          <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content">
              <h4 class="heading-primary text-uppercase mb-md">Edit Zoo</h4>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="zooname">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" name="name" [(ngModel)]="name" placeholder="{{Zoo.name}}" id="zooname"
                    required pattern="[A-Za]{2}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="w1-username">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" name="address" [(ngModel)]="address" placeholder="{{Zoo.address}}"id="w1-username"
                    required pattern="[A-Za-z]{3}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="w1-username">Phone</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" name="phone" [(ngModel)]="phone" placeholder="{{Zoo.phone}}" id="w1-username"
                    required pattern=".{9}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="w1-username">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control input-sm" name="email" [(ngModel)]="email" placeholder="{{Zoo.email}}"required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    id="w1-username">
                </div>
              </div>
              <div method="post" enctype="multipart/form-data">
                <div class=" pull-right mb-xl">
                  <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png" placeholder="{{Zoo.imgUrl}}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <span class="remember-box checkbox"></span>
                </div>
                <div class="col-md-3 ">
                  <input type="button"(click)="cancelZoo()" value="Cancel" class="btn btn-default pull-right mb-xl" data-dismiss="modal">
                  <input (click)="editZoo(f)" data-dismiss="modal" type="submit" value="Edit" class="btn btn-primary pull-left mb-xl" data-loading-text="Loading...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>