
<section class="section section-parallax section-no-border custom-section-padding-2 m-none" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../assets/image/spectacled-bear1400.Jpeg">
  <div class="container">
    <div class="row center">
      <div class="col-md-12">
        <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs">Who We Are</h1>
        <span class="text-color-light custom-secondary-font text-uppercase">About Us</span>
      </div>
    </div>
  </div>
</section>
<section class="section section-no-border background-color-light m-none">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <h2 class="font-weight-bold">We seek love God above all thing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare diam at lectus ultrices rutrum. Fusce et lobortis orci, vel rutrum nisl. Praesent ut eros blandit risus fermentum mattis. Ut eleifend metus in arcu malesuada, nec tincidunt lectus luctus. Suspendisse dignissim velit eu lacinia egestas. Duis posuere mi a est vestibulum congue. Pellentesque quis velit in velit maximus varius. Donec.</p>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis mauris urna. Donec pellentesque eros non sapien malesuada, at facilisis diam interdum. Praesent non cursus dui, et consectetur risus. Pellentesque eu arcu sollicitudin, viverra neque ut, facilisis ligula. In faucibus tellus ac metus ullamcorper aliquet. Aliquam sem dui, cursus quis magna vitae, convallis malesuada tellus. Nam malesuada.</p>
      </div>
      <div class="col-md-5 col-sm-5 hidden-xs">
        <div class="custom-box-squares">
          <img class="custom-cloud left-pos-2" alt src="../assets/image/left-cloud.png" />
          <div class="custom-big-square left-pos-2 custom-box-shadow" style="background: url('../assets/image/s2.jpg'); background-size: cover;"></div>
          <div class="custom-small-square left-pos-2 custom-box-shadow" style="background: url('../assets/image/s8.jpg'); background-size: cover;"></div>
        </div>
      </div>
    </div>
  </div>
</section>

