
<section class="section section-parallax section-no-border custom-section-padding-2 m-none" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../assets/image/spectacled-bear1400.Jpeg">
  <div class="container">
    <div class="row center">
      <div class="col-md-12">
        <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs">Who We Are</h1>
        <span class="text-color-light custom-secondary-font text-uppercase">About Us</span>
      </div>
    </div>
  </div>
</section>
<section class="section section-no-border background-color-light m-none">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <h2 class="font-weight-bold">Manage your zoo & take care of your pets</h2>
        <p>Zooma is a website that is divided into two main sections the first one is the zoo mangment section which enable the user to manage the zoo resources,such as zoo animals ,food , employees and doctors and enables them to build their own website, In addition there is a pets care section that targets the pets owners to helpthem in carring of their pets.</p>
        <p class="text-sm"></p>
      </div>
      <div class="col-md-5 col-sm-5 hidden-xs">
        <div class="custom-box-squares">
          <img class="custom-cloud left-pos-2" alt src="../assets/image/left-cloud.png" />
          <div class="custom-big-square left-pos-2 custom-box-shadow" style="background: url('../assets/image/s2.jpg'); background-size: cover;"></div>
          <div class="custom-small-square left-pos-2 custom-box-shadow" style="background: url('../assets/image/s8.jpg'); background-size: cover;"></div>
        </div>
      </div>
    </div>
  </div>
</section>

