<!--listing Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:60%">
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="f.valid" ngNativeValidate>
          <div class="col-sm-12 col-md-offset-1">
            <div class="featured-box featured-box-primary align-left mt-xlg">
              <div class="box-content">
                <h4 class="heading-primary text-uppercase mb-md">Add Food</h4>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="name">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-sm" name="name" required [(ngModel)] = "name" placeholder="Animal Food" id="name">
                  </div>
                </div>
                <form id="myForm">
                 <div class="form-group">
                    <label class="col-sm-3 control-label" for="description">Subtitle</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control populate" name="Subtitle" id="Subtitle" [(ngModel)] = "Subtitle" rows="20">
                    </div>
                  </div>  
                  <div class="form-group">
                      <label class="col-sm-3 control-label" for="description">Description</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control populate" name="description" id="description" [(ngModel)] = "description" rows="20">
                      </div>
                    </div> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="image">Upload Image</label>
                    <div action="multiupload.php" method="post" id="image" enctype="multipart/form-data">
                      <div class="col-md-6">
                        <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();" multiple />
                      </div>
                      <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" name='submit_image' value="Multiple Image" />
                      </div>
                    </div>
                    <div class="row" id="image_preview"></div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-md-9">
                    <span class="remember-box checkbox"></span>
                  </div>
                  <div class="col-md-3">
                    <input type="button" value="Cancel" class="btn btn-default pull-right mb-xl" data-dismiss="modal">
                    <input type="submit" value="Add" (click)="addFood(f)" [disabled]="!f.valid" class="btn btn-primary pull-left mb-xl" data-dismiss="modal" data-loading-text="Loading...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>