<div role="main" class="main">

  <section class="section section-no-border custom-section-padding-1 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
    <div class="container">
      <div class="row center">
        <div class="col-md-12" style="margin-top: 45px">

          <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                    appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Sea Dog FootBall</h1>
          <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
          <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-no-border background-color-light m-none">
    <div class="container">
      <div class="row custom-negative-margin-2 mb-xlg">
        <div class="col-md-12">
          <div class="custom-event-top-image">
            <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
            <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
            <span id="countdown" data-countdown-title="" data-countdown-date="2017/06/10 12:00:00" class="custom-newcomers-class clock-one-events custom-newcomers-pos-2 text-color-dark font-weight-bold custom-secondary-font custom-box-shadow center"></span>
            <img src="../../../../assets/img/17.jpg" alt class="img-responsive custom-border-1 custom-box-shadow" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <center> -->
            <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
            <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
          <!-- </center> -->
          <article class="custom-post-event background-color-light">

            <div class="post-event-date background-color-primary center">
              <span class="month text-uppercase custom-secondary-font text-color-light">Nov</span>
              <span class="day font-weight-bold text-color-light">10</span>
              <span class="year text-color-light">2016</span>
            </div>
            <div class="post-event-content custom-margin-1 mb-xlg">
              <h2 class="font-weight-bold text-color-dark mb-none">Mauris ornare semeu lorem</h2>
              <span class="custom-event-infos">
                <ul class="mb-md">
                  <li>
                    <i class="fa fa-clock-o"></i>
                    5:00 PM
                  </li>
                  <li class="text-uppercase">
                    <i class="fa fa-map-marker"></i>
                    New York
                  </li>
                </ul>
              </span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor dolor ac purus varius placerat. Quisque
                tortor purus, imperdiet eget feugiat vitae, sodales nec arcu. In porta nunc eget tellus congue consectetur.
                Donec fringilla, ligula et facilisis elementum, mi eros imperdiet arcu, et faucibus mauris eros ac nisl.
                Morbi libero nunc, mollis nec suscipit vel, laoreet posuere tortor. Ut egestas.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, est a finibus lobortis, eros justo rutrum
                est, in fringilla arcu ligula ornare mauris. Donec efficitur mi eget eros suscipit rhoncus. Nulla aliquet
                faucibus est, a ornare neque pellentesque quis. Nunc id volutpat magna. Sed tincidunt convallis cursus. Quisque
                maximus nulla eget turpis condimentum congue. Lorem ipsum.</p>

              <p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="venue" class="pt-xlg">

    <div class="container pt-xlg mt-xlg">
      <!-- <center> -->
        <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
        <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
      <!-- </center> -->
      <div class="row pt-sm mb-md">
        <div class="col-md-12">
          <h2 class="text-color-dark text-uppercase font-weight-bold center mb-xs">Venue</h2>
          <p class="custom-font-size-1 center mb-sm">Check out the Venue Information</p>
        </div>
      </div>
      <div class="row">
        <!-- <center> -->
          <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
          <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
        <!-- </center> -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <div class="row">
            <div class="custom-venue-address background-color-light">
              <div class="col-xs-6 hidden-xs p-none" style="background-image: url('../../../../assets/img/16.jpg'); height:290px;"></div>
              <div class="col-xs-6 p-xlg">
                <div class="p-sm">
                  <div class="text-color-dark font-weight-bold text-uppercase mb-md">New York Plazha</div>
                  <p class="font-weight-normal mb-none">
                    <strong>Address:</strong> 1234, Street, City Name, United States</p>
                  <p class="font-weight-normal mb-xlg">
                    <strong>Phone:</strong>
                    <a href="tel:+123456789" class="custom-text-color-def">
                      (123) 456-789
                    </a>
                  </p>
                  <a href="http://maps.google.com" target="_blank" class="btn btn-primary custom-border-radius custom-btn-style-1 font-size-md font-weight-semibold text-color-light text-uppercase outline-none">Get Direction
                    <i class="custom-long-arrow-right" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <span class="custom-arrow background-color-light"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->

  <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
  <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>

  <div id="googlemaps" class="google-map m-none"></div>

  <br/>


  <section class="section section-no-background section-no-border m-none">
    <div class="container">

      <div class="row">
        <!-- <center> -->
          <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
          <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
        <!-- </center> -->
        <div class="col-md-12 center">
          <h2 class="slider-title">
            <span class="inline-title text-center">
              <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                <span style=color:orangered>Related Shows!</span> in The Zoo </h2>
            </span>
            <span class="line"></span>
          </h2>
          <div class="divider divider-primary divider-small divider-small-center mb-xl mt-none">
            <hr class="mt-sm">
          </div>

          <div class="row pt-xl">
            <div class="col-md-6">
              <a href="#" class="text-decoration-none">
                <span class="thumb-info thumb-info-side-image thumb-info-side-image-custom thumb-info-no-zoom box-shadow-custom thumb-info-no-zoom thumb-info-side-image-custom-highlight appear-animation"
                  data-appear-animation="fadeIn" data-appear-animation-delay="0">
                  <span class="thumb-info-side-image-wrapper">
                    <img alt="" class="img-responsive" src="../../../../assets/img/16.jpg">
                  </span>

                  <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                      <h3 class="text-uppercase text-color-dark">Porto Special</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at,
                        interdum tortor. Suspendisse potenti...</p>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-6 " style="height:160px">
              <a href="#" class="text-decoration-none">
                <span class="thumb-info thumb-info-side-image thumb-info-side-image-custom thumb-info-no-zoom box-shadow-custom appear-animation"
                  data-appear-animation="fadeIn" data-appear-animation-delay="300">
                  <span class="thumb-info-side-image-wrapper">
                    <img alt="" class="img-responsive" style="max-width: 240px;" src="../../../../assets/img/15.jpg">
                  </span>
                  <br/>
                  <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                      <h3 class="text-uppercase text-color-dark">Plan Ahead</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-6" style="height:160px">
              <a href="#" class="text-decoration-none">
                <span class="thumb-info thumb-info-side-image thumb-info-side-image-custom thumb-info-no-zoom box-shadow-custom appear-animation"
                  data-appear-animation="fadeIn" data-appear-animation-delay="600">
                  <span class="thumb-info-side-image-wrapper">
                    <img alt="" class="img-responsive" style="max-width: 240px;" src="../../../../assets/img/18.jpg">
                  </span>
                  <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                      <h4 class="text-uppercase text-color-dark">Valentine's Day</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-6 " style="height:160px">
              <a href="#" class="text-decoration-none">
                <span class="thumb-info thumb-info-side-image thumb-info-side-image-custom thumb-info-no-zoom box-shadow-custom appear-animation"
                  data-appear-animation="fadeIn" data-appear-animation-delay="600">
                  <span class="thumb-info-side-image-wrapper">
                    <img alt="" class="img-responsive" style="max-width: 240px;" src="../../../../assets/img/18.jpg">
                  </span>
                  <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                      <h4 class="text-uppercase text-color-dark">Valentine's Day</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    </span>
                  </span>
                </span>
              </a>
            </div>

          </div>
          <a class="btn btn-primary btn-lg font-size-sm text-uppercase mt-sm" href="demo-hotel-special-offers.html">View All</a>

        </div>
      </div>


    </div>
  </section>
</div>