<div>
    <aside class="sidebar">

      <h4 class="heading-primary">
        <strong>Filter by Animals</strong>
      </h4>

      <ul class="nav nav-list mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
        <li data-option-value="*" class="active">
          <a href="#" routerLink="/zoo"  (click)="set('showall')">Show All</a>
        </li>
        <li data-option-value=".Giraffes">
          <a href="#" routerLink="/zoo"  (click)="set('Giraffes')">Giraffes</a>
        </li>
        <li data-option-value=".Elephants">
          <a href="#" routerLink="/zoo"  (click)="set('Elephants')">Elephants</a>
        </li>
        <li data-option-value=".Lions">
          <a href="#" routerLink="/zoo"  (click)="set('Lions')">Lions</a>
        </li>
        <li data-option-value=".Monkey">
          <a href="#" routerLink="/zoo"  (click)="set('Monkey')">Monkey</a>
        </li>
        <li data-option-value=".Cheetas">
          <a href="#" routerLink="/zoo"  (click)="set('Cheetas')">Cheetas</a>
        </li>
        <li data-option-value=".Zebras">
          <a href="#" routerLink="/zoo"  (click)="set('Zebras')">Zebras</a>
        </li>
        <li data-option-value=".Horses">
          <a href="#" routerLink="/zoo"  (click)="set('Horses')">Horses</a>
        </li>
        <li data-option-value=".Fishes">
          <a href="#" routerLink="/zoo"  (click)="set('Fishes')">Fishes</a>
        </li>
        <li data-option-value=".Tortoise">
          <a href="#" routerLink="/zoo"  (click)="set('Tortoise')">Tortoise</a>
        </li>
      </ul>
    </aside>
    <!---------------------------------->

   
  </div>