<div class="body">
  <div role="main" class="main">

    <section class="page-header page-header-light page-header-more-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center" style="margin-top:60px;">
            <h1>{{medicine.name}}</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row pb-xl pt-md">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <colgroup>
                  <col width="35%">
                  <col width="65%">
                </colgroup>
                <tbody>
                  <tr>
                    <td class="background-color-primary text-light pt-md">
                      Properties
                    </td>
                    <td class="font-size-xl font-weight-bold pt-sm pb-sm background-color-primary text-light">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      Name
                    </td>
                    <td>
                      {{medicine.name}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Type
                    </td>
                    <td>
                      {{medicine.type}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <h4 class="mt-md mb-md">Description</h4>
              <p>{{medicine.description}}</p>

              <hr class="solid tall">
              <section class="mt-none" id="projects">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-8">
                          <h2>
                            <strong>Animals that takes this medicine</strong>
                          </h2>
                        </div>
                        <div class="col-md-4">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-plus-square  fa-2x" style="text-align: right; margin-left:10px;"></i>
                            </a>
                            <!-- <a href="#">
                              <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                            </a> -->
                          </div>
                        </div>
                      </div>
                      <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                        <div class="portfolio-item" *ngFor="let animal of animals">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a [routerLink]="['../../../animals/details', animal.id]" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="{{animal.image}}" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">{{animal.name}}</span>
                                  <span class="thumb-info-type">{{animal.type}}</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <!-- <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Porto Watch</span>
                                  <span class="thumb-info-type">Media</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Identity</span>
                                  <span class="thumb-info-type">Logo</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Watch Mockup</span>
                                  <span class="thumb-info-type">Brand</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Three Bottles</span>
                                  <span class="thumb-info-type">Logo</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Company T-Shirt</span>
                                  <span class="thumb-info-type">Brand</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Mobile Mockup</span>
                                  <span class="thumb-info-type">Website</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Porto Label</span>
                                  <span class="thumb-info-type">Media</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--<h4 class="mt-md mb-md">Features</h4>-->
              <hr class="solid tall">
              <section class="mt-none" id="projects">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-8">
                          <h2>
                            <strong>Diseases that are cured with this medicine</strong>
                          </h2>
                        </div>
                        <div class="col-md-4">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-plus-square fa-2x" style="text-align: right; margin-left:10px;"></i>
                            </a>
                            <!-- <a href="#">
                              <i class="fa fa-edit  fa-2x" style="text-align: right; margin-left:10px;"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash  fa-2x" style="margin-left:10px;"></i>
                            </a> -->
                          </div>
                        </div>
                      </div>
                      <div class="owl-carousel owl-theme" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false}">

                        <div class="portfolio-item" *ngFor="let disease of diseases">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a  [routerLink]="['../../../disease/details', disease.id]" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                  <i class="icon-featured fa fa-stethoscope"></i>
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">{{disease.name}}</span>
                                  <span class="thumb-info-type">{{disease.type}}</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <!-- <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten thumb-info-no-zoom">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-1.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Porto Watch</span>
                                  <span class="thumb-info-type">Media</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-2.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Identity</span>
                                  <span class="thumb-info-type">Logo</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-3.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Watch Mockup</span>
                                  <span class="thumb-info-type">Brand</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-4.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Three Bottles</span>
                                  <span class="thumb-info-type">Logo</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-5.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Company T-Shirt</span>
                                  <span class="thumb-info-type">Brand</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-6.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Mobile Mockup</span>
                                  <span class="thumb-info-type">Website</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div class="portfolio-item">
                          <div class="product-label" style="text-align:right; margin-left:10px;">
                            <a href="#">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a href="#">
                              <i class="fa fa-trash" style="margin-left:10px;"></i>
                            </a>
                          </div>
                          <a href="#" data-portfolio-on-modal>
                            <span class="thumb-info thumb-info-lighten">
                              <span class="thumb-info-wrapper">
                                <img src="img/projects/project-7.jpg" class="img-responsive" alt="">
                                <span class="thumb-info-title">
                                  <span class="thumb-info-inner">Porto Label</span>
                                  <span class="thumb-info-type">Media</span>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>