.page-header{
    background-color: black;
}
.center{
    padding-top: 50px;
}
h1{
    color: white;
}
.img-responsive{
    height: 200px;
}
.fa-stethoscope{
    font-size: 400%;
    text-align: center;
    padding-top: 13%;
    margin-left: 30%;
    margin-top: 10%;
}
.thumb-info-wrapper{
    height: 180px;
    }
    .thumb-info-lighten{
        width: 99%;
    }