


  

<div class="body">
  <header id="header" class="header-narrow header-semi-transparent header-transparent-sticky-deactive custom-header-transparent-bottom-border"
    data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
    <div class="header-body">
      <div class="header-container container">
        <div class="header-row">
          <div class="header-column">
            <div class="header-logo">
              <a href="demo-business-consulting.html">
                <img alt="Porto" width="150" height="70" src="img/slides/logo.png">
              </a>
            </div>
          </div>
          <div class="header-column">
            <div class="header-row">
              <div class="header-nav header-nav-dark-dropdown">
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="header-nav-main header-nav-main-square custom-header-nav-main-effect-1 collapse">
                  <nav>
                    <ul class="nav nav-pills" id="mainNav">
                      <li class="active">
                        <a href="gaber.html">
                          Home
                        </a>
                      </li>
                      <li>
                        <a href="zoghabi zoo.html">
                          Zoos
                        </a>
                      </li>
                      <li class="dropdown dropdown-primary ">
                        <a class="dropdown-toggle" href="#">
                          Animals
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="Aya pets.html">
                              Pets
                            </a>
                          </li>
                          <li>
                            <a href="Aya pets.html">
                              Mammals
                            </a>
                          </li>
                          <li>
                            <a href="Aya pets.html">
                              Reptiels
                            </a>
                          </li>
                          <li>
                            <a href="Aya pets.html">
                              Fish
                            </a>
                          </li>
                          <li>
                            <a href="Aya pets.html">
                              Birds
                            </a>
                          </li>
                          <li>
                            <a href="Aya pets.html">
                              Amphibians
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="Events gaber.html">
                          Current Events
                        </a>
                      </li>
                      <li>
                        <a href="Essra news.html">
                          Latest News
                        </a>
                      </li>

                      <li>
                        <a href="demo-business-consulting-blog.html">
                          About Us
                        </a>
                      </li>
                      <li>

                        <div class="dropdowns-container">
                          <div class="header-dropdown cur-dropdown">
                            <a href="demo-business-consulting-contact-us.html">
                              <div class="header-dropdown lang-dropdown">
                                <a href="#">
                                  <img src="img/demos/shop/en.png" alt="English">English
                                  <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="header-dropdownmenu">
                                  <li>
                                    <a href="#">
                                      <img src="img/demos/shop/en.png" alt="English">English</a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <img src="img/demos/shop/fr.png" alt="French">French</a>
                                  </li>
                                </ul>
                              </div>
                            </a>
                          </div>
                        </div>




                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div role="main" class="main">
      
          <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}">
              <ul>
                <li data-transition="fade">
                  <img src="img/slides/5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
      
                  <div class="tp-caption" data-x="177" data-y="188" data-start="1000" data-transform_in="x:[-300%];opacity:0;s:500;">
                    <img src="img/slides/slide-title-border.png" alt="">
                  </div>
      
                  <div class="tp-caption top-label" data-x="227" data-y="180" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;">DO YOU NEED A NEW</div>
      
                  <div class="tp-caption" data-x="480" data-y="188" data-start="1000" data-transform_in="x:[300%];opacity:0;s:500;">
                    <img src="img/slides/slide-title-border.png" alt="">
                  </div>
      
                  <div class="tp-caption main-label" data-x="135" data-y="210" data-start="1500" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;" style=color:orangered>ZOO MA-NAGEMENT?</div>
      
                  <div class="tp-caption bottom-label" data-x="185" data-y="280" data-start="2000" data-transform_in="y:[100%];opacity:0;s:500;">Check out our options and features.</div>
      
      
      
                  <div class="tp-caption blackboard-text" data-x="640" data-y="300" data-start="3950" style="font-size: 37px;" data-transform_in="y:[300%];opacity:0;s:300;">Make</div>
      
                  <div class="tp-caption blackboard-text" data-x="665" data-y="350" data-start="4150" style="font-size: 47px;" data-transform_in="y:[300%];opacity:0;s:300;">The Best</div>
      
                  <div class="tp-caption blackboard-text" data-x="690" data-y="400" data-start="4350" style="font-size: 32px;" data-transform_in="y:[300%];opacity:0;s:300;">in Right Way :)</div>
                </li>
                <li data-transition="fade">
                  <img src="img/slides/7.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                    data-no-retina>
      
                  <div class="tp-caption top-label" data-x="155" data-y="100" data-start="500" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                    <img src="img/slides/slide-concept.png" alt="">
                  </div>
      
                  <div class="tp-caption blackboard-text" data-x="285" data-y="180" data-start="1000" style="font-size: 30px; color:ghostwhite; "
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">Control it </div>
      
                  <div class="tp-caption blackboard-text" data-x="285" data-y="220" data-start="1200" style="font-size: 40px; color:azure; "
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                    Right Now !</div>
      
                  <div class="tp-caption main-label" data-x="685" data-y="190" data-start="1800" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;" style=color:orangered>MAKE IT!</div>
      
                  <div class="tp-caption bottom-label" data-x="685" data-y="250" data-start="2000" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-splitin="chars" data-splitout="none"
                    data-responsive_offset="on" data-elementdelay="0.05">Announce your events and animals now !!!</div>
      
                </li>
              </ul>
            </div>
          </div>
          <div class="home-intro " id="home-intro">
            <div class="container">
      
              <div class="row">
                <div class="col-md-8">
                  <p>
                    The fastest way to Present and manage your Zoo in
                    <em style=color:orangered>Technology</em>
                    <span>Check out our options and features included The site.</span>
                  </p>
                </div>
                <div class="col-md-4">
                  <div class="get-started">
                    <a href="CreateZoo.html" class="btn btn-lg " style=background-color:orangered>Create Your Own Zoo Now!</a>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      
      
        <br/>
      
      
        <!--header of section -->
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>Watch Now !</span>&nbsp Zoos Around The World !! </h2>
          </span>
          <span class="line"></span>
        </h2>
        <!--******aya**/*-->
        <div role="main" class="main">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="owl-carousel show-nav-title custom-arrows-style-5" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 3}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">
                  <div class="center">
                    <article class="thumb-info custom-thumb-info-style-2">
                      <span class="thumb-info-wrapper m-none">
                        <a href="#" class="text-decoration-none" title="Porto Website">
                          <img src="img/demos/gym/classes/3.jpg" class="img-responsive" alt="">
                        </a>
                      </span>
                      <span class="thumb-info-caption background-color-light center p-md">
                        <h4>
                          <a href="#" class="text-decoration-none text-color-dark">
                            Tiergarten Schِnbrunn
                          </a>
                        </h4>
                        <p class="custom-thumb-info-category">Vienna-Itaily </p>
      
                      </span>
      
                    </article>
                    <a href="zoghabi_2.htm" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
                  </div>
                  <!---**********-->
                  <div class="center">
                    <article class="thumb-info custom-thumb-info-style-2">
                      <span class="thumb-info-wrapper m-none">
                        <a href="#" class="text-decoration-none" title="Porto Website">
                          <img src="img/demos/gym/classes/3.jpg" class="img-responsive" alt="">
                        </a>
                      </span>
                      <span class="thumb-info-caption background-color-light center p-md">
                        <h4>
                          <a href="zoghabi_2.html" class="text-decoration-none text-color-dark">
                            Tiergarten Schِnbrunn
                          </a>
                        </h4>
                        <p class="custom-thumb-info-category">Vienna-Itaily </p>
      
                      </span>
      
                    </article>
                    <a href="zoghabi_2.html" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
                  </div>
                  <!---**********-->
                  <div class="center">
                    <article class="thumb-info custom-thumb-info-style-2">
                      <span class="thumb-info-wrapper m-none">
                        <a href="#" class="text-decoration-none" title="Porto Website">
                          <img src="img/demos/gym/classes/3.jpg" class="img-responsive" alt="">
                        </a>
                      </span>
                      <span class="thumb-info-caption background-color-light center p-md">
                        <h4>
                          <a href="zoghabi_2.html" class="text-decoration-none text-color-dark">
                            Tiergarten Schِnbrunn
                          </a>
                        </h4>
                        <p class="custom-thumb-info-category">Vienna-Itaily </p>
      
                      </span>
      
                    </article>
                    <a href="zoghabi_2.html" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
                  </div>
                  <!---**********-->
                  <div class="center">
                    <article class="thumb-info custom-thumb-info-style-2">
                      <span class="thumb-info-wrapper m-none">
                        <a href="#" class="text-decoration-none" title="Porto Website">
                          <img src="img/demos/gym/classes/3.jpg" class="img-responsive" alt="">
                        </a>
                      </span>
                      <span class="thumb-info-caption background-color-light center p-md">
                        <h4>
                          <a href="zoghabi_2.html" class="text-decoration-none text-color-dark">
                            Tiergarten Schِnbrunn
                          </a>
                        </h4>
                        <p class="custom-thumb-info-category">Vienna-Itaily </p>
      
                      </span>
      
                    </article>
                    <a href="zoghabi_2.html" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
                  </div>
                  <!---**********-->
                  <div class="center">
                    <article class="thumb-info custom-thumb-info-style-2">
                      <span class="thumb-info-wrapper m-none">
                        <a href="#" class="text-decoration-none" title="Porto Website">
                          <img src="img/demos/gym/classes/3.jpg" class="img-responsive" alt="">
                        </a>
                      </span>
                      <span class="thumb-info-caption background-color-light center p-md">
                        <h4>
                          <a href="zoghabi_2.html" class="text-decoration-none text-color-dark">
                            Tiergarten Schِnbrunn
                          </a>
                        </h4>
                        <p class="custom-thumb-info-category">Vienna-Itaily </p>
      
                      </span>
      
                    </article>
                    <a href="zoghabi_2.html" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
                  </div>
      
      
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--******aya**/*-->
        <!--esoossssss-->
      
        <section class="section section-no-border background-color-light m-none">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 custom-sm-margin-bottom-1">
                <h2 class="font-weight-bold">Next Show</h2>
                <article class="thumb-info custom-thumb-info custom-box-shadow">
                  <span class="thumb-info-wrapper">
                    <a href="Eventgaber.html">
                      <img src="img/demos/gym/classes/3.jpg" alt class="img-responsive" />
                    </a>
                  </span>
                  <span class="thumb-info-caption">
                    <span class="custom-event-infos">
                      <ul>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          5:00 PM
                        </li>
                        <li class="text-uppercase">
                          <i class="fa fa-map-marker"></i>
                          New York
                        </li>
                      </ul>
                    </span>
                    <span class="thumb-info-caption-text">
                      <h4 class="font-weight-bold mb-sm">
                        <a href="Eventgaber.html" class="text-decoration-none custom-secondary-font text-color-dark">
                          Mauris sagitis urna molestie
                        </a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lectus vitae arcu bibendum condimentum.
                        In a porta nunc ...</p>
                    </span>
                  </span>
                </article>
              </div>
              <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2">
                <h2 class="font-weight-bold">Past Shows </h2>
                <article class="custom-post-event">
                  <div class="post-event-date background-color-primary center">
                    <span class="month text-uppercase custom-secondary-font text-color-light">Nov</span>
                    <span class="day font-weight-bold text-color-light">10</span>
                    <span class="year text-color-light">2016</span>
                  </div>
                  <div class="post-event-content custom-margin-1">
                    <span class="custom-event-infos">
                      <ul>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          5:00 PM
                        </li>
                        <li class="text-uppercase">
                          <i class="fa fa-map-marker"></i>
                          New York
                        </li>
                      </ul>
                    </span>
                    <h4 class="font-weight-bold">
                      <a href="Eventgaber.html" class="text-decoration-none custom-secondary-font text-color-dark">Mauris ornare semeu lorem</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nisl a fermentum varius. Aenean interdum
                      lectus at tortor ullamcorper, eu maximus...</p>
                  </div>
                </article>
                <hr class="solid">
                <article class="custom-post-event">
                  <div class="post-event-date background-color-primary center">
                    <span class="month text-uppercase custom-secondary-font text-color-light">Nov</span>
                    <span class="day font-weight-bold text-color-light">11</span>
                    <span class="year text-color-light">2016</span>
                  </div>
                  <div class="post-event-content custom-margin-1">
                    <span class="custom-event-infos">
                      <ul>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          5:00 PM
                        </li>
                        <li class="text-uppercase">
                          <i class="fa fa-map-marker"></i>
                          New York
                        </li>
                      </ul>
                    </span>
                    <h4 class="font-weight-bold">
                      <a href="Eventgaber.html" class="text-decoration-none custom-secondary-font text-color-dark">Curabitur vehicula massa</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue dui non libero tincidunt commodo. Proin
                      eget venenatis mauris.</p>
                  </div>
                </article>
                <a href="Events gaber.html" class="btn btn-primary custom-btn-style-1 text-uppercase custom-margin-1 mt-xlg">All Events</a>
              </div>
            </div>
          </div>
        </section>
        <br/>
        <hr/>
        <br/>
        <!--essraaaaaaaaa-->
        <!--newssssssss-->
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>Latest News!</span>&nbsp About Animal && Zoos </h2>
          </span>
          <span class="line"></span>
        </h2>
        <div class="container">
          <div class="owl-carousel show-nav-title custom-arrows-style-4" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 1}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">
      
            <div class="row pt-xs pb-xl mb-md">
      
              <div class="row mt-sm mb-sm">
                <article class="blog-post">
                  <div class="col-sm-8 col-md-5">
                    <div class="blog-post-image-wrapper">
                      <a href="one news .html" title="Read More">
                        <img src="img/demos/business-consulting/blog/blog-1.jpg" alt class="img-responsive mb-lg" />
                      </a>
                      <span class="blog-post-date background-color-primary text-color-light font-weight-bold">
                        20
                        <span class="month-year font-weight-light">
                          Oct-16
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <h2> Global Opportunities</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper
                      risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vi...</p>
                    <hr class="solid">
                    <div class="post-infos">
                      <span class="info posted-by">
                        Posted by:
                        <span class="post-author font-weight-semibold text-color-dark">
                          John Doe
                        </span>
                      </span>
                      <span class="info comments ml-xlg">
                        Comments:
                        <span class="comments-number text-color-primary font-weight-semibold">
                          15
                        </span>
                      </span>
                      <span class="info like ml-xlg">
                        Like:
                        <span class="like-number font-weight-semibold custom-color-red">
                          38
                        </span>
                      </span>
                    </div>
                    <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase mt-xlg"
                      href="one news .html" title="Read More">Read More</a>
                  </div>
                </article>
              </div>
      
            </div>
            <div class="row mt-sm mb-sm">
              <article class="blog-post">
                <div class="col-sm-8 col-md-5">
                  <div class="blog-post-image-wrapper">
                    <a href="one news .html" title="Read More">
                      <img src="img/demos/business-consulting/blog/blog-1.jpg" alt class="img-responsive mb-lg" />
                    </a>
                    <span class="blog-post-date background-color-primary text-color-light font-weight-bold">
                      20
                      <span class="month-year font-weight-light">
                        Oct-16
                      </span>
                    </span>
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <h2> Global Opportunities</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper
                    risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vi...</p>
                  <hr class="solid">
                  <div class="post-infos">
                    <span class="info posted-by">
                      Posted by:
                      <span class="post-author font-weight-semibold text-color-dark">
                        John Doe
                      </span>
                    </span>
                    <span class="info comments ml-xlg">
                      Comments:
                      <span class="comments-number text-color-primary font-weight-semibold">
                        15
                      </span>
                    </span>
                    <span class="info like ml-xlg">
                      Like:
                      <span class="like-number font-weight-semibold custom-color-red">
                        38
                      </span>
                    </span>
                  </div>
                  <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase mt-xlg"
                    href="one news .html" title="Read More">Read More</a>
                </div>
              </article>
            </div>
          </div>
        </div>
        <!-- Animal section-->
      
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>All Knowledge!</span>&nbsp About Pets && Animals </h2>
          </span>
          <span class="line"></span>
        </h2>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <a href="Aya pets.html">
                <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
                  <span class="thumb-info-wrapper">
                    <img src="img/projects/project-4.jpg" class="img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
                      data-appear-animation-duration="2s">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Fish</span>
                      <span class="thumb-info-type">View All</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon">
                        <i class="fa fa-link"></i>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <a href="Aya pets.html">
                <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
                  <span class="thumb-info-wrapper">
                    <img src="img/projects/project-4.jpg" class="img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
                      data-appear-animation-duration="2s">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Amphibians</span>
                      <span class="thumb-info-type">View All</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon">
                        <i class="fa fa-link"></i>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <a href="Aya pets.html">
                <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
                  <span class="thumb-info-wrapper">
                    <img src="img/projects/project-4.jpg" class="img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
                      data-appear-animation-duration="2s">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Birds</span>
                      <span class="thumb-info-type">View All</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon">
                        <i class="fa fa-link"></i>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <a href="Aya pets.html">
                <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
                  <span class="thumb-info-wrapper">
                    <img src="img/projects/project-4.jpg" class="img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
                      data-appear-animation-duration="2s">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Reptiles</span>
                      <span class="thumb-info-type">View All</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon">
                        <i class="fa fa-link"></i>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <a href="Aya pets.html">
                <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
                  <span class="thumb-info-wrapper">
                    <img src="img/projects/project-4.jpg" class="img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
                      data-appear-animation-duration="2s">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Mammals</span>
                      <span class="thumb-info-type">View All</span>
                    </span>
                    <span class="thumb-info-action">
                      <span class="thumb-info-action-icon">
                        <i class="fa fa-link"></i>
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      
      
        <!--footer-->
        <footer id="footer">
          <div class="container">
            <div class="row">
              <div class="footer-ribbon">
                <span>Get in Touch</span>
              </div>
              <div class="col-md-3">
                <div class="newsletter">
                  <h4>Newsletter</h4>
                  <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
      
                  <div class="alert alert-success hidden" id="newsletterSuccess">
                    <strong>Success!</strong> You've been added to our email list.
                  </div>
      
                  <div class="alert alert-danger hidden" id="newsletterError"></div>
      
                  <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                    <div class="input-group">
                      <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Latest Tweets</h4>
                <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': '', 'count': 2}">
                  <p>Please wait...</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-details">
                  <h4>Contact Us</h4>
                  <ul class="contact">
                    <li>
                      <p>
                        <i class="fa fa-map-marker"></i>
                        <strong>Address:</strong> 1234 Street Name, City Name, United States</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-phone"></i>
                        <strong>Phone:</strong> (123) 456-789</p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-envelope"></i>
                        <strong>Email:</strong>
                        <a href="mailto:mail@example.com">mail@example.com</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-2">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                  <li class="social-icons-facebook">
                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="social-icons-twitter">
                    <a href="http://www.twitter.com/" target="_blank" title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-icons-linkedin">
                    <a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-1">
                  <a href="index.html" class="logo">
                    <img alt="Porto Website Template" class="img-responsive" src="img/logo-footer.png">
                  </a>
                </div>
                <div class="col-md-7">
                  <p>© Copyright 2017. All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                  <nav id="sub-menu">
                    <ul>
                      <li>
                        <a href="page-faq.html">FAQ's</a>
                      </li>
                      <li>
                        <a href="sitemap.html">Sitemap</a>
                      </li>
                      <li>
                        <a href="contact-us.html">Contact</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </footer>

