


  

<div class="body">
 <app-header></app-header>
  <div role="main" class="main">
      
          <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}">
              <ul>
                <li data-transition="fade">
                  <img src="../../../../assets/img/5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
      
                  <div class="tp-caption" data-x="177" data-y="188" data-start="1000" data-transform_in="x:[-300%];opacity:0;s:500;">
                    <img src="../../../../assets/img/slide-title-border.png" alt="">
                  </div>
      
                  <div class="tp-caption top-label" data-x="227" data-y="180" data-start="500" data-transform_in="y:[-300%];opacity:0;s:500;">DO YOU NEED A NEW</div>
      
                  <div class="tp-caption" data-x="480" data-y="188" data-start="1000" data-transform_in="x:[300%];opacity:0;s:500;">
                    <img src="../../../../assets/img/slide-title-border.png" alt="">
                  </div>
      
                  <div class="tp-caption main-label" data-x="135" data-y="210" data-start="1500" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;" style=color:orangered>ZOO MA-NAGEMENT?</div>
      
                  <div class="tp-caption bottom-label" data-x="185" data-y="280" data-start="2000" data-transform_in="y:[100%];opacity:0;s:500;">Check out our options and features.</div>
      
      
      
                  <div class="tp-caption blackboard-text" data-x="640" data-y="300" data-start="3950" style="font-size: 37px;" data-transform_in="y:[300%];opacity:0;s:300;">Make</div>
      
                  <div class="tp-caption blackboard-text" data-x="665" data-y="350" data-start="4150" style="font-size: 47px;" data-transform_in="y:[300%];opacity:0;s:300;">The Best</div>
      
                  <div class="tp-caption blackboard-text" data-x="690" data-y="400" data-start="4350" style="font-size: 32px;" data-transform_in="y:[300%];opacity:0;s:300;">in Right Way :)</div>
                </li>
                <li data-transition="fade">
                  <img src="../../../../assets/img/7.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                    data-no-retina>
      
                  <div class="tp-caption top-label" data-x="155" data-y="100" data-start="500" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                    <img src="../../../../assets/img/slide-concept.png" alt="">
                  </div>
      
                  <div class="tp-caption blackboard-text" data-x="285" data-y="180" data-start="1000" style="font-size: 30px; color:ghostwhite; "
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">Control it </div>
      
                  <div class="tp-caption blackboard-text" data-x="285" data-y="220" data-start="1200" style="font-size: 40px; color:azure; "
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                    Right Now !</div>
      
                  <div class="tp-caption main-label" data-x="685" data-y="190" data-start="1800" data-whitespace="nowrap" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;" style=color:orangered>MAKE IT!</div>
      
                  <div class="tp-caption bottom-label" data-x="685" data-y="250" data-start="2000" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-splitin="chars" data-splitout="none"
                    data-responsive_offset="on" data-elementdelay="0.05">Announce your events and animals now !!!</div>
      
                </li>
              </ul>
            </div>
          </div>
          <div class="home-intro " id="home-intro">
            <div class="container">
      
              <div class="row">
                <div class="col-md-8">
                  <p>
                    The fastest way to Present and manage your Zoo in
                    <em style=color:orangered>Technology</em>
                    <span>Check out our options and features included The site.</span>
                  </p>
                </div>
                <div class="col-md-4">
                  <div class="get-started">
                    <a href="CreateZoo.html" class="btn btn-lg " style=background-color:orangered>Create Your Own Zoo Now!</a>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      
      
        <br/>
      
      
        <!--header of section -->
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>Watch Now !</span> Zoos Around The World !! </h2>
          </span>
          <span class="line"></span>
        </h2>
        <!--******aya**/*-->
        <div role="main" class="main">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="owl-carousel show-nav-title custom-arrows-style-5" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 3}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">
                  <app-zoo></app-zoo>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--******aya**/*-->
        <!--esoossssss-->
      
        <app-showhomepage></app-showhomepage>
        <br/>
        <hr/>
        <br/>
        <!--essraaaaaaaaa-->
        <!--newssssssss-->
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>Latest News!</span> About Animal && Zoos </h2>
          </span>
          <span class="line"></span>
        </h2>
        <app-newshomepage></app-newshomepage>
        <!-- Animal section-->
      
        <h2 class="slider-title">
          <span class="inline-title text-center">
            <h2 class="font-weight-bold text-color-quaternary appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <span style=color:orangered>All Knowledge!</span>About Pets && Animals </h2>
          </span>
          <span class="line"></span>
        </h2>
        <app-animalhomepage></app-animalhomepage>
      
      
        <!--footer-->
        <app-footer></app-footer>
