<!-- Disease Modal-->
<div class="modal fade" id="diseaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:50%">
    <div class="modal-body">
      <form>
        <div class="col-sm-12 col-md-offset-1">
          <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content">
              <h4 class="heading-primary text-uppercase mb-md">Add Disease</h4>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="w1-username">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" name="Name" id="insertedName" required>
                </div>
              </div>
           <!--   <input type="button" value="Add Type +" class="btn btn-primary mr-xs mb-sm" id="addType" />
             <div id="myDiv">
                <h4>Disease List</h4>
                <table class="table table-hover" id="mytable">
                  <col width="150">
                  <col width="280">
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Disease Name
                      </th>
                      <th>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="hidden">
                      <td></td>
                      <td class="insertedName"></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>-->

              <div class="row">
                <div class="col-md-8">
                  <span class="remember-box checkbox"></span>
                </div>
                <div class="col-md-4 ">
                  <input type="button" value="Cancel" class="btn btn-default pull-right mb-xl" data-dismiss="modal">
                  <input type="submit" value="Add" class="btn btn-primary pull-left mb-xl" data-loading-text="Loading...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>