<section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
  <div class="container">
    <div class="row center">
      <div class="col-md-12" style="margin-top: 45px">
        <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Zoos</h1>
      </div>
    </div>
  </div>
</section>

<div role="main" class="main" style="margin-top:100px;">
  <div class="container">
    <div class="row">
      <app-zoofilter class="col-md-3"></app-zoofilter>
      <app-zoo-collection class="col-md-9"></app-zoo-collection>
      
    </div>
  </div>
</div>




