.img-responsive{
    height: 200px;
}
.fa-stethoscope{
    font-size: 400%;
    text-align: center;
    padding-top: 13%;
}

.container{
    margin-top: 100px;
}

.listing-component{
    margin-top: 0px;
}