<section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
  <div class="container">
    <div class="row center">
      <div class="col-md-12" style="margin-top: 45px">
        <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Medicines</h1>
      </div>
    </div>
  </div>
 
</section>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <app-add-medicine></app-add-medicine>
    </div>
  </div>
  <div class="row">
    <app-filter class="col-md-3"></app-filter>
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let medicine of medicines" class="col-md-4 {{medicine.name}}">
            <div style="text-align: right;">
                <a [routerLink]="['../medicine/edit', medicine.id]">
                  <i class="fa fa-pencil" style="text-align: right;margin-left:10px;"></i>
                </a>
                <a (click)="deleteMedicine(medicine.id)">
                  <i class="fa fa-trash" style="text-align: center;margin-left:10px;"></i>
                </a>
              </div>
          <div class="listing-component featured-box featured-box-primary featured-box-effect-1">
            <div class="box-content">
              <i class="icon-featured fa fa-stethoscope"></i>
              <h4>{{medicine.name}}</h4>
              <p>{{medicine.smalldescription}}</p>
              <p>
                <a [routerLink]="['../medicine/details', medicine.id]" class="lnk-primary learn-more">Learn more
                  <i class="fa fa-angle-right"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>