<section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
    <div class="container">
      <div class="row center">
        <div class="col-md-12" style="margin-top: 45px">
          <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
                  appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">payment terms</h1>
        </div>
      </div>
    </div>
  </section>
<div class="body">
    <div role="main" class="main shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h2 class="mb-none">
                        <strong>Checkout</strong>
                    </h2>
                    <br>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Zoo Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="panel-body">
                                    <form action="/" id="frmBillingAddress" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Country</label>
                                                    <select class="form-control">
                                                        <option value="">select country</option>  
                                                        <option value="">portsaid</option>
                                                        <option value="">ismaillia</option>
                                                        <option value="">suez</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Zoo Phone Number</label>
                                                    <input type="phone" value="xxxx-xxx-xxxx"  class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Zoo Email Address</label>
                                                    <input type="text" value="username@mail.com" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Zoo Name</label>
                                                    <input type="text" value="zoo name" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Zoo Address </label>
                                                    <input type="text" value="zoo address" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Zoo City </label>
                                                    <input type="text" value="zoo city" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Payment
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="panel-body">
                                    <form action="/" id="frmPayment" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label for="fname">
                                                        <i class="fa fa-user"></i> Full Name</label>
                                                    <input type="text" id="fname" name="firstname" placeholder="John M. Doe" value="" class="form-control">

                                                </div>
                                                <div class="col-md-6">
                                                    <label for="fname">Accepted Cards</label>
                                                    <div class="icon-container">
                                                        <i class="fa fa-cc-visa fa-3x" style="color:navy;"></i>
                                                        &nbsp;
                                                        <i class="fa fa-cc-amex fa-3x" style="color:blue;"></i>
                                                        &nbsp;
                                                        <i class="fa fa-cc-mastercard fa-3x" style="color:red;"></i>
                                                        &nbsp;
                                                        <i class="fa fa-cc-discover fa-3x" style="color:orange;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="/" id="frmPayment" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label for="email">
                                                        <i class="fa fa-envelope"></i> Email</label>
                                                    <input type="text" id="email" name="email" placeholder="john@example.com" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                        <label for="fname">
                                                                Name on Card</label>
                                                        <input type="text" id="cname" name="cardname" placeholder="John More Doe" class="form-control">
    
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="/" id="frmPayment" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label for="adr">
                                                        <i class="fa fa-address-card-o"></i> Address</label>
                                                    <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                        <label for="ccnum">
                                                                Credit card number</label>
                                                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"class="form-control">
    
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="/" id="frmPayment" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label for="city"><i class="fa fa-institution"></i> City</label>
                                                    <input type="text" id="city" name="city" placeholder="New York" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                        <label label for="expyear">Exp Month</label>
                                                        <input type="text" id="expyear" name="expyear" placeholder="october" class="form-control">
    
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="/" id="frmPayment" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label for="zip">Zip</label>
                                                    <input type="text" id="zip" name="zip" placeholder="10001"class="form-control">
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="state">State</label>
                                                        <input type="text" id="state" name="state" placeholder="NY" class="form-control">
    
                                                    </div>
                                                    <div class="col-md-3">
                                                            <label for="fname">
                                                                    Exp Year  </label>
                                                            <input type="text" id="expyear" name="expyear" placeholder="2018" class="form-control">
        
                                                        </div>
                                                        <div class="col-md-3">
                                                                <label for="fname">
                                                                       CVV</label>
                                                                <input type="text" id="cvv" name="cvv" placeholder="352" class="form-control">
            
                                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="actions-continue">
                        <input type="submit" value="Place Order" name="proceed" class="btn btn-lg btn-primary mt-xl">
                    </div>

                </div>
                <div class="col-md-3">
                    <h4 class="heading-primary">Cart Totals</h4>
                    <table class="cart-totals">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>
                                    <strong>Cart Subtotal</strong>
                                </th>
                                <td>
                                    <strong>
                                        <span class="amount">$431</span>
                                    </strong>
                                </td>
                            </tr>
                            <tr class="shipping">
                                <th>
                                 Usage
                                </th>
                                <td>
                                        Monthly
                                    <input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                                </td>
                            </tr>
                            <tr class="total">
                                <th>
                                    <strong>Order Total</strong>
                                </th>
                                <td>
                                    <strong>
                                        <span class="amount">$431</span>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</div>