<div class="container">
  <div class="row">
    <div class="col-md-5">
      <a href="Aya pets.html">
        <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
          <span class="thumb-info-wrapper">
            <img src="../../../../../assets/image/fish.jpg" class="large-image img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
              data-appear-animation-duration="2s">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Fish</span>
              <span class="thumb-info-type">View All</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon">
                <i class="fa fa-link"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a href="Aya pets.html">
        <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
          <span class="thumb-info-wrapper">
            <img src="../../../../assets/image/frog.jpg" class="image img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
              data-appear-animation-duration="2s">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Amphibians</span>
              <span class="thumb-info-type">View All</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon">
                <i class="fa fa-link"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a href="Aya pets.html">
        <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
          <span class="thumb-info-wrapper">
            <img src="../../../../assets/image/birds.jpg" class="image img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
              data-appear-animation-duration="2s">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Birds</span>
              <span class="thumb-info-type">View All</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon">
                <i class="fa fa-link"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a href="Aya pets.html">
        <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
          <span class="thumb-info-wrapper">
            <img src="../../../../assets/image/crocodile.jpg" class="image img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
              data-appear-animation-duration="2s">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Reptiles</span>
              <span class="thumb-info-type">View All</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon">
                <i class="fa fa-link"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a href="Aya pets.html">
        <span class="thumb-info thumb-info-lighten thumb-info-centered-info thumb-info-push-hor">
          <span class="thumb-info-wrapper">
            <img src="../../../../assets/image/elephant.jpg" class="image img-responsive appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="1"
              data-appear-animation-duration="2s">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Mammals</span>
              <span class="thumb-info-type">View All</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon">
                <i class="fa fa-link"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>