<div role="main" class="main">
  <section class="section section-no-border custom-section-padding-4 m-none" style="background: url('../../../assets/img/13.jpg'); background-size: cover;">
      <div class="container">
          <div class="row center">
              <div class="col-md-12" style="margin-top: 45px">
                  <h1 class="text-color-light custom-secondary-font font-weight-bold mb-xs 
              appear-animation" data-appear-animation="bounceInRight" data-appear-animation-delay="1">Show Offers</h1>
              </div>
          </div>
      </div>
  </section>
</div>

<h1 class="title">Let's Get your Zoo Created</h1>
<section class="section section-quaternary section-center section-no-border m-none">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
              <span class="thumb-info custom-thumb-info-3">
                  <span class="thumb-info-caption background-color-light center p-xlg">
                      <h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Yearly</h4>
                      <span class="font-weight-bold text-color-primary custom-font-style-2">$500 / year</span>
                      <ul class="list custom-pricing-list list-primary list-borders">
                          <li>Unlimited Use</li>
                          <li>Yoga Classes</li>
                          <li>Zumba Classes</li>
                      </ul>
                      <a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" routerLink="/checkout"
                          title="Join Now">Join Now</a>
                  </span>
              </span>
          </div>
          <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 custom-sm-margin-1 custom-xs-margin-2 appear-animation" data-appear-animation="fadeIn"
              data-appear-animation-delay="1000">
              <span class="thumb-info custom-thumb-info-3">
                  <span class="thumb-info-caption background-color-light center p-xlg">
                      <h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Monthly</h4>
                      <span class="font-weight-bold text-color-primary custom-font-style-2">$150 / month</span>
                      <ul class="list custom-pricing-list list-primary list-borders">
                          <li>Unlimited Use</li>
                          <li>Yoga Classes</li>
                          <li>Zumba Classes</li>
                      </ul>
                      <a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" routerLink="/checkout"
                          title="Join Now">Join Now</a>
                  </span>
              </span>
          </div>
          <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 custom-sm-margin-1 custom-xs-margin-2 appear-animation" data-appear-animation="fadeIn"
              data-appear-animation-delay="2000">
              <span class="thumb-info custom-thumb-info-3">
                  <span class="thumb-info-caption background-color-light center p-xlg">
                      <h4 class="font-weight-bold text-color-quaternary custom-font-style-1">Forever</h4>
                      <span class="font-weight-bold text-color-primary custom-font-style-2">$1000</span>
                      <ul class="list custom-pricing-list list-primary list-borders">
                          <li>Unlimited Use</li>
                          <li>Yoga Classes</li>
                          <li>Zumba Classes</li>
                      </ul>
                      <a class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" routerLink="/checkout"
                          title="Join Now">Join Now</a>
                  </span>
              </span>
          </div>
      </div>
  </div>
</section>

<div class="container faq-section">
  <div class="title">
  <h1>FAQ</h1>
  <p class="font-size">It's okay. We all have questions that need answers.</p>
</div>
  <div class="row mt-xl">
      <div class="col-md-6">
          <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <div class="question font" >
                  <span>
                      <i class="fa fa-comments commenticon"></i>
                  </span>
                  <span>Can I cancel at any time?</span>
              </div>
              <span class="thumb-info-caption">
                  <span class="thumb-info-caption-text">
                      <p class="font-size-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit. Lorem donec eu pulvinar magna. Lorem ipsum dolor
                          sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                  </span>
              </span>
          </span>
      </div>

      <div class="col-md-6">
          <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <div class="question font">
                  <span>
                      <i class="fa fa-comments commenticon"></i>
                  </span>
                  <span>Can I cancel at any time?</span>
              </div>
              <span class="thumb-info-caption">
                  <span class="thumb-info-caption-text">
                      <p class="font-size-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit. Lorem donec eu pulvinar magna. Lorem ipsum dolor
                          sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                  </span>
              </span>
          </span>
      </div>
  </div>

  <div class="row mt-xl">
      <div class="col-md-6">
          <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <div class="question font">
                  <span>
                      <i class="fa fa-comments commenticon"></i>
                  </span>
                  <span>Can I cancel at any time?</span>
              </div>
              <span class="thumb-info-caption">
                  <span class="thumb-info-caption-text">
                      <p class="font-size-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit. Lorem donec eu pulvinar magna. Lorem ipsum dolor
                          sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                  </span>
              </span>
          </span>
      </div>

      <div class="col-md-6">
          <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
              <div class="question font">
                  <span>
                      <i class="fa fa-comments commenticon"></i>
                  </span>
                  <span>Can I cancel at any time?</span>
              </div>
              <span class="thumb-info-caption">
                  <span class="thumb-info-caption-text">
                      <p class="font-size-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum
                          dolor sit amet, consectetur adipiscing elit. Lorem donec eu pulvinar magna. Lorem ipsum dolor
                          sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                  </span>
              </span>
          </span>
      </div>
  </div>
</div>
