.title{
    text-align:center;
}
.commenticon{
    margin-right: 10px;
}
.question{
    margin-top:2%; 
    margin-left:5%;
}
span{
    font-family: "Sintony", sans-serif; 
}
.font{
    font-size: 20px;
}
.font-size{
    color: #50545F;
    font-size: 22px;
}
.custom-font-style-1{
    font-size: 2.7em;
    letter-spacing: -1px;
    margin: 40px 0px 20px;
}
.custom-font-style-2{
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 50px;
    display: block;
}
.font-weight-bold {
    font-weight: 700 !important;
}
h1,h4{
    font-family: "Playfair Display", serif;    
}
h1{
    margin-top: 2%;
    margin-bottom: 32px;
    color: #1d2127;
}
section.section{
    padding-bottom: 50px;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0px;
}
li {
    text-align: center;
}
.custom-btn-style-1{
    margin-top: 20px;
}