<!--Predator Modal -->
<div class="modal fade" id="PredatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:50%">
    <div class="modal-body">
      <form>
        <div class="col-sm-12 col-md-offset-1">
          <div class="featured-box featured-box-primary align-left mt-xlg">
            <div class="box-content">
              <h4 class="heading-primary text-uppercase mb-md">Add Predator</h4>
              <div class="form-group">
                <label class="col-md-4 control-label" for="rolename">Predator_Name</label>
                <div class="col-md-8">
                  <select data-plugin-selectTwo class="multiselect-ui" id="dates-field2" multiple="multiple">
                    <option value="1">Cheese</option>
                    <option value="2">Tomatoes</option>
                    <option value="3">Mozzarella</option>
                    <option value="4">Mushrooms</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <span class="remember-box checkbox"></span>
                </div>
                <div class="col-md-4 ">
                  <input type="button" value="Cancel" class="btn btn-default pull-right mb-xl" data-dismiss="modal">
                  <input type="submit" value="Add" class="btn btn-primary pull-left mb-xl" data-loading-text="Loading...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>