
  <aside class="sidebar">

    <h4 class="heading-primary">
      <strong>Types</strong> of
    </h4>


    <ul class="nav nav-list mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
      <li data-option-value="*" class="active">
        <a href="#">Show All</a>
      </li>
      <li data-option-value=".dog">
        <a href="#">Dogs</a>
      </li>
      <li data-option-value=".cat">
        <a href="#">Cats</a>
      </li>
      <li data-option-value=".bird">
        <a href="#">Birds</a>
      </li>
      <li data-option-value=".horse">
        <a href="#">Horses</a>
      </li>
      <li data-option-value=".fish">
          <a href="#">Fishes</a>
      </li>
      <li data-option-value=".tortoise">
          <a href="#">Tortoise</a>
      </li>
    </ul>
  </aside>
  <aside class="sidebar">
    <h4 class="heading-primary">
      <strong>Categories</strong>
    </h4>
    <ul class="nav nav-list mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
      <li data-option-value="*" class="active">
        <a href="#">Show All</a>
      </li>
      <li data-option-value=".reptile">
        <a href="#">Reptile</a>
      </li>
      <li data-option-value=".mamels">
        <a href="#">Mamels</a>
      </li>
      <li data-option-value=".bird">
        <a href="#">Birds</a>
      </li>
      <li data-option-value=".rodents">
          <a href="#">Rodents</a>
        </li>
      <li data-option-value=".amphibians">
        <a href="#">Amphibians</a>
      </li>
      <li data-option-value=".fish">
          <a href="#">Fish</a>
        </li>
    </ul>
  </aside>
  <aside class="sidebar">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-price">
            Life Span
          </a>
        </h4>
      </div>
      <div id="panel-filter-price" class="accordion-body collapse in">
        <div class="panel-body">
          <div class="filter-price">
            <div id="price-slider"></div>
            <div class="filter-price-details">
              <span>from</span>
              <input type="text" id="price-range-low" class="form-control" placeholder="Min">
              <span>to</span>
              <input type="text" id="price-range-high" class="form-control" placeholder="Max">
              <a href="#" class="btn btn-primary">FILTER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="sidebar">
      <div class="col-xs-6 col-md-12 panel panel-default">
        <div class="form-group">
          <h4 class="panel-heading panel-title"><strong>Search by :</strong> Food</h4>
          <select class="form-control">
            <option value="Carrots">Carrots</option>
            <option value="Meat">Meat</option>
            <option value="Pills">Pills</option>
            <option value="Lettuce">Lettuce</option>
            <option value="Milk">Milk</option>
            <option value="Bones">Bones</option>
            <option value="Grass">Grass</option>
          </select>
        </div>
      </div>
    </aside>
  <aside class="sidebar">
    <div class="col-xs-6 col-md-12 panel panel-default">
      <div class="form-group">
        <h4 class="panel-heading panel-title">Country</h4>
        <select class="form-control">
          <option value="United States">United States</option>
          <option value="China">China</option>
          <option value="England">England</option>
          <option value="Egypt">Egypt</option>
        </select>
      </div>
    </div>
  </aside>
  <aside class="sidebar">
      <div class="col-xs-6 col-md-12 panel panel-default">
        <div class="form-group">
          <div class="panel-heading">
          <h4 class="panel-title">Continent</h4></div>
          <select class="form-control">
            <option value="Asia">Asia</option>
            <option value="Africa">Africa</option>
            <option value="Europe">Europe</option>
            <option value="Australia">Australia</option>
            <option value="North Amarica">North Amarica</option>
            <option value="South Amarica">South Amarica</option>
          </select>
        </div>
      </div>
    </aside>