<div class="container">
  <div class="owl-carousel show-nav-title custom-arrows-style-4" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 1}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">

    <div class="row pt-xs pb-xl mb-md">

      <div class="row mt-sm mb-sm">
        <article class="blog-post">
          <div class="col-sm-8 col-md-5">
            <div class="blog-post-image-wrapper">
              <a href="one news .html" title="Read More">
                <img src="../../../../assets/img/blog-1.jpg" alt class="img-responsive mb-lg" />
              </a>
              <span class="blog-post-date background-color-primary text-color-light font-weight-bold">
                20
                <span class="month-year font-weight-light">
                  Oct-16
                </span>
              </span>
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <h2> Global Opportunities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper
              risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vi...</p>
            <hr class="solid">
            <div class="post-infos">
              <span class="info posted-by">
                Posted by:
                <span class="post-author font-weight-semibold text-color-dark">
                  John Doe
                </span>
              </span>
              <span class="info comments ml-xlg">
                Comments:
                <span class="comments-number text-color-primary font-weight-semibold">
                  15
                </span>
              </span>
              <span class="info like ml-xlg">
                Like:
                <span class="like-number font-weight-semibold custom-color-red">
                  38
                </span>
              </span>
            </div>
            <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase mt-xlg"
              href="one news .html" title="Read More">Read More</a>
          </div>
        </article>
      </div>

    </div>
    <div class="row mt-sm mb-sm">
      <article class="blog-post">
        <div class="col-sm-8 col-md-5">
          <div class="blog-post-image-wrapper">
            <a href="one news .html" title="Read More">
              <img src="../../../../assets/img/blog-1.jpg" alt class="img-responsive mb-lg" />
            </a>
            <span class="blog-post-date background-color-primary text-color-light font-weight-bold">
              20
              <span class="month-year font-weight-light">
                Oct-16
              </span>
            </span>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <h2> Global Opportunities</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper
            risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vi...</p>
          <hr class="solid">
          <div class="post-infos">
            <span class="info posted-by">
              Posted by:
              <span class="post-author font-weight-semibold text-color-dark">
                John Doe
              </span>
            </span>
            <span class="info comments ml-xlg">
              Comments:
              <span class="comments-number text-color-primary font-weight-semibold">
                15
              </span>
            </span>
            <span class="info like ml-xlg">
              Like:
              <span class="like-number font-weight-semibold custom-color-red">
                38
              </span>
            </span>
          </div>
          <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase mt-xlg"
            href="one news .html" title="Read More">Read More</a>
        </div>
      </article>
    </div>
  </div>
</div>