
    <h4>Related Food</h4>
    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'margin': 5, 'dots': false, 'nav': true}">
      <div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name" class="product-hover-image">
              <!-- <img src="../img/animal/x8.jpg" alt="Product Name" class="product-hover-image"> -->
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name" class="product-hover-image">
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name">
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name">
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name">
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
        <div class="product product-sm">
          <figure class="product-image-area">
            <a href="demo-shop-18-product-details.html" title="Product Name" class="product-image">
              <img [src]="food.image2" alt="Product Name">
            </a>
          </figure>
          <div class="product-details-area">
            <h2 class="product-name">
              <a href="demo-shop-18-product-details.html" title="Product Name">{{food.foodName}}</a>
            </h2>
            <div class="product-price-box">
              <span class="product-price">{{food.foodType}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  