
  <div class="center">
  <article class="thumb-info custom-thumb-info-style-2">
    <span class="thumb-info-wrapper m-none">
      <a href="#" class="text-decoration-none" title="Porto Website">
        <img src="../../../../assets/img/3.jpg" class="img-responsive" alt="">
      </a>
    </span>
    <span class="thumb-info-caption background-color-light center p-md">
      <h4>
        <a href="#" class="text-decoration-none text-color-dark">
          Tiergarten Schِnbrunn
        </a>
      </h4>
      <p class="custom-thumb-info-category">Vienna-Itaily </p>

    </span>

  </article>
  <a routerLink="/zoo" class="btn custom-btn-style-1 text-color-light btn-primary mt-md">MORE Details</a>
</div>   