<section class="section section-no-border background-color-light m-none">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 custom-sm-margin-bottom-1">
        <h2 class="font-weight-bold">Next Show</h2>
        <article class="thumb-info custom-thumb-info custom-box-shadow">
          <span class="thumb-info-wrapper">
            <a routerLink="showdetails">
              <img src="{{shows[0].imgUrl}}" alt class="img-responsive" />
            </a>
          </span>
          <span class="thumb-info-caption">
            <span class="custom-event-infos">
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i>
                  {{shows[0].time}}
                </li>
                <li class="text-uppercase">
                  <i class="fa fa-map-marker"></i>
                  {{shows[0].location}}
                </li>
              </ul>
            </span>
            <span class="thumb-info-caption-text">
              <h4 class="font-weight-bold mb-sm">
                <a routerLink="/showdetails" class="text-decoration-none custom-secondary-font text-color-dark">
                  {{shows[0].title}}
                </a>
              </h4>
              <p>{{shows[0].description}} ...</p>
            </span>
          </span>
        </article>
      </div>
      <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2">
        <h2 class="font-weight-bold">Past Shows </h2>
       
        <app-showitem *ngFor="let show of shows" [show]="show"></app-showitem>
        <!-- <hr class="solid"> -->
      
        
        <a routerLink="/show" class="btn btn-primary custom-btn-style-1 text-uppercase custom-margin-1 mt-xlg">All Events</a>
      </div>
    </div>
  </div>
</section>